@import url('https://fonts.googleapis.com/css2?family=Libre+Franklin:wght@300;600;700&display=swap');
$blue: hsl(223, 87%, 63%);
$pale-blue: hsl(223, 100%, 88%);
$light-red: hsl(354, 100%, 66%);
$gray: hsl(0, 0%, 59%);
$light-gray: rgba(150, 150, 150, 0.25);
$very-dark-blue: hsl(209, 33%, 12%);
$breakpoints: (
    "phone-down": 500px,
    "tablet-up": 768px,
    "tablet-down": 900px,
    "desktop-up": 1024px,
    "desktop-down": 1280px,
    "widescreen-up": 1440px
);
@mixin media-min($_key) {
    @media screen and (min-width: map-get($breakpoints, $_key)) {
        &{ @content; }
    }
}
* {
    padding: 0;
    margin: 0;
    list-style: none;
}
html {
    font-size: 62.5%;
    font-family: 'Libre Franklin', sans-serif;
}
html,body {
    height: 100%;
}
body {
    display: flex;
    flex-direction: column;
}
main {
    flex-grow: 1;
    text-align: center;
    margin: 0 40px;
    @include media-min("tablet-down") {
        margin: 0 20vw;
    }
    @include media-min("desktop-down") {
        margin: 0 26vw;
    }
}
h1 {
    margin-top: 85px;
    font-size: 2rem;
    color: $very-dark-blue;
    span {
        color: $blue;
    }
    @include media-min("desktop-down") {
        font-size: 3rem;
    }
}
h2 {
    margin-top: 45px;
    font-weight: 300;
    font-size: 2.2rem;
    color: $gray;
    strong {
        color: $very-dark-blue;
    }
    @include media-min("desktop-down") {
        font-size: 4rem;
    }
}
h3 {
    margin-top: 21px;
    font-weight: 300;
    font-size: 1.2rem;
    color: $very-dark-blue;
    @include media-min("desktop-down") {
        font-size: 2rem;
    }
}
.form {
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    @include media-min("tablet-down") {
        flex-direction: row;
        justify-content: space-between;
    }
    input {
        border: solid $pale-blue 1px;
        border-radius: 20px;
        box-sizing: border-box;
        height: 40px;
        width: 100%;
        padding-left: 20px;
        font-size: 1.2rem;
        font-weight: 300;
        outline: none;
        &::placeholder {
            color: $gray;
            font-weight: 300;
            opacity: 50%;
        }
        @include media-min("desktop-down") {
            height: 60px;
            border-radius: 30px;
            font-size: 1.7rem;
        }
    }
    .input-container {
        @include media-min("tablet-down") {
            width: 62%;
        }
    }
    .input-container[error-msg] {
        margin-bottom: 15px;
        @include media-min("tablet-down") {
            text-align: left;
            margin-bottom: 0;
        }
    }
    .input-container[error-msg] input {
        border: solid $light-red 1px;
        margin-bottom: 4px;
    }
    .input-container[error-msg]::after {
        content: attr(error-msg);
        color: $light-red;
        font-style: italic;
        font-weight: 400;
        @include media-min("tablet-down") {
            padding-left: 20px;
        }
        @include media-min("desktop-down") {
            font-size: 1.3rem;
        }
    }
    button {
        background-color: $blue;
        color: white;
        border: none;
        border-radius: 20px;
        height: 40px;
        width: 100%;
        margin-top: 8px;
        font-size: 1.1rem;
        font-weight: 500;
        box-shadow: 0px 7px 18px 1px rgba(0,0,0,0.17);
        &:hover {
            cursor: pointer;
            opacity: 80%;
        }
        @include media-min("tablet-down") {
            width: 35%;
            margin-top: 0;
        }
        @include media-min("desktop-down") {
            height: 60px;
            border-radius: 30px;
            font-size: 1.6rem;
        }
    }
}
img {
    margin-top: 71px;
    width: 100%;
}
.social-networks {
    margin-top: 118px;
    ion-icon {
        margin: 0 6px;
        padding: 8px;
        border: solid $light-gray 1px;
        border-radius: 50%;
        color: $blue;
        font-size: 1.6rem;
        &:hover {
            cursor: pointer;
            color: white;
            background-color: $blue;
        }
    }
}
p {
    margin-top: 30px;
    color: $gray;
    font-size: 1.2rem;
    @include media-min("desktop-down") {
        font-size: 1.6rem;
    }
}
footer {
    margin-top: 37px;
    text-align: center;
}